button {
    border-radius: 2px;
    border: 1px solid rgba(144, 139, 139, 0.24);
    font-size: 2em;
    font-weight: 500;
    font-family: inherit;
    margin: 10px;
    cursor: pointer;
    transition: border-color 0.25s;
    background-color: rgba(26, 26, 26, 0.7);
    padding: 10px 20px;

}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 2px auto -webkit-focus-ring-color;
}
